<h2 class="title"><%= @environnement.name %></h2>
<div class="inner">
  <%= @environnement.description %>
</div>

<%= button_to 'retour sur tous les environnements', url(:environnements, :index), :method => :get, :class => :button_to %> |
