<% @branches.each do |branch| %>
<div class="inner">
  <table class="table">
	<tr>
	  <th class="first"><%= branch.name %></th>
	  <th><%= branch.created_at %></th>
	  <th class="last"><%= button_to 'voir', url(:branches, :show, :id => branch.id), :method => :get, :class => :button_to %></th>
	</tr>
	<tr>
	  <td class="first"><%= branch.description %></td>
	  <td class="last">&nbsp;</td>
	</tr>
  </table>
</div>
<% end %>
