<% @projets.each do |projet| %>
<div class="inner">
  <table class="table">
	<tr>
	  <th class="first"><%= projet.name %></th>
	  <th><%= projet.created_at %></th>
	  <th class="last"><%= button_to 'voir', url(:projets, :show, :id => projet.id), :method => :get, :class => :button_to %></th>
	</tr>
	<tr>
	  <td class="first"><%= projet.description %></td>
	  <td class="last">&nbsp;</td>
	</tr>
  </table>
</div>
<% end %>
